header{
    width: 100%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
      font-family: "Noto Sans JP", sans-serif;

    font-size: 2rem;

}
header img{
    width: 40px;
}