footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}
footer p{
    font-size: 1rem;

}
footer a{
    cursor: pointer;
    transition: 0.1s;
    text-decoration: none;
    color: black;
    text-decoration: underline;

}
footer a:hover{
    scale: 1.1;
    color: rgb(168, 168, 168);
    font-size: 1.1rem;
}