main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}

.box-square {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  background: rgb(221, 221, 221);
  border-radius: 1rem;
}

.box-infos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.box-infos #jogador-atual {
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: var(--border-style-1);
  width: 100%;
  text-align: center;
  padding: 4% 2%;
}

.box-infos #jogador {
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Jersey 10", sans-serif;
  font-size: 2rem;
}



main .box-winner {
  border: var(--border-style-1);
  width: 100%;
  text-align: center;
  padding: 4% 2%;
  animation: backInUp 1s;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.box-winner #result-velha{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.box-winner .winner-vencedor{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}




.box-winner  .winner-result{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.box-winner .winner-result img{
  width: 50px;
}
.box-winner  .winner-result p{
  font-size: 2rem;
  font-weight: 500;
}
.box-winner .winner-vencedor p:nth-child(2){
  font-size: 1.3rem;
  font-weight: 600;
}





.box-winner #btn-jogar-novamente{
  padding: 2% 8%; 
  cursor: pointer;
  background: black;
  color: white;
  outline: none;
}

main .placar-jogadores{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 2%;

}
.placar-jogadores p{
  font-weight: 500;
  text-shadow: 0px 0px 1px black;
  font-size: 1.5rem;
}
.placar-jogadores .placar{
  border: var(--border-style-1);
  padding: 1% 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
main .jogador1{
    color: var(--color-jogador-1);
}
main .jogador2{
    color: var(--color-jogador-2);
}


@media screen and (max-width: 1000px){
  .box-square{
    scale: 0.8;
  }
}